ApplicationInstaller/ApplicationInstaller/Validation/Applications.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfApp">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="App">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="AbsolutePath" type="xsd:string" />
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="Architecture" type="xsd:string" minOccurs="0" />
              <xsd:element name="Filename" type="xsd:string" />
              <xsd:element name="Filesize" type="xsd:float" />
              <xsd:element name="InstallSwitch" type="xsd:string" minOccurs="0" />
              <xsd:element name="RelativePath" type="xsd:string" />
              <xsd:element name="Version" type="xsd:string" minOccurs="0" />
              <xsd:element name="Silent" type="xsd:boolean" minOccurs="0" />
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>